In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
team = "Resources/team.csv"
team_df = pd.read_csv(team)
team_df.head()

,year,league_id,team_id,franchise_id,div_id,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,team_id_br,team_id_lahman45,team_id_retro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.83,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.82,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.81,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,NaN,0.80,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,NaN,0.83,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [26]:
team_df["team_id"].value_counts()

# Create a filtered dataframe from specific columns
#premise_cols = ["player_id","year","game_num","game_id","team_id","league_id","gp","starting_pos"]
#premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
#premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
#                                                          "Premises Name": "premise_name",
#                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

#premise_transformed.head()

CHN    140
PHI    133
PIT    129
CIN    126
SLN    124
      ...
BRP      1
IN1      1
SR1      1
TL1      1
PTP      1
Name: team_id, Length: 149, dtype: int64

In [27]:
new_team_df = team_df.drop(columns=["div_id","ghome","wc_win","div_win","team_id_lahman45","team_id_retro","dp","hbp","sf","cs"])
new_team_df

,year,league_id,team_id,franchise_id,rank,g,w,l,lg_win,ws_win,...,bba,soa,e,fp,name,park,attendance,bpf,ppf,team_id_br
0,1871,NaN,BS1,BNA,3,31,20,10,N,NaN,...,42,23,225,0.830,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS
1,1871,NaN,CH1,CNA,2,28,19,9,N,NaN,...,28,22,218,0.820,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI
2,1871,NaN,CL1,CFC,8,29,10,19,N,NaN,...,53,34,223,0.810,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE
3,1871,NaN,FW1,KEK,7,19,7,12,N,NaN,...,21,17,163,0.800,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK
4,1871,NaN,NY2,NNA,5,33,16,17,N,NaN,...,42,22,227,0.830,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,2015,NL,LAN,LAD,1,162,92,70,N,N,...,395,1396,75,0.988,Los Angeles Dodgers,Dodger Stadium,3764815.0,101,98,LAD
2801,2015,NL,SFN,SFG,2,162,84,78,N,N,...,431,1165,78,0.987,San Francisco Giants,AT&T Park,3375882.0,99,97,SFG
2802,2015,NL,ARI,ARI,3,162,79,83,N,N,...,500,1215,86,0.986,Arizona Diamondbacks,Chase Field,2080145.0,107,106,ARI
2803,2015,NL,SDN,SDP,4,162,74,88,N,N,...,516,1393,92,0.985,San Diego Padres,Petco Park,2459742.0,98,97,SDP
2804,2015,NL,COL,COL,5,162,68,94,N,N,...,579,1112,95,0.985,Colorado Rockies,Coors Field,2506789.0,119,118,COL

In [52]:
#league id 0

new_team_df['league_id'] = new_team_df['league_id'].fillna("None")
new_team_df['lg_win'] = new_team_df['lg_win'].fillna("NA")
new_team_df['ws_win'] = new_team_df['ws_win'].fillna("NA")
new_team_df['r'] = new_team_df['r'].fillna(0)
new_team_df['ab'] = new_team_df['ab'].fillna(0)
new_team_df['h'] = new_team_df['h'].fillna(0)
new_team_df['double'] = new_team_df['double'].fillna(0)
new_team_df['triple'] = new_team_df['triple'].fillna(0)
new_team_df['hr'] = new_team_df['hr'].fillna(0)
new_team_df['bb'] = new_team_df['bb'].fillna(0)
new_team_df['so'] = new_team_df['so'].fillna(0)
new_team_df['sb'] = new_team_df['sb'].fillna(0)
new_team_df['ra'] = new_team_df['ra'].fillna(0)
new_team_df['er'] = new_team_df['er'].fillna(0)
new_team_df['era'] = new_team_df['era'].fillna(0)
new_team_df['cg'] = new_team_df['cg'].fillna(0)
new_team_df['sho'] = new_team_df['er'].fillna(0)
new_team_df['sv'] = new_team_df['er'].fillna(0)
new_team_df['ipouts'] = new_team_df['er'].fillna(0)
new_team_df['ha'] = new_team_df['er'].fillna(0)
new_team_df['hra'] = new_team_df['er'].fillna(0)
new_team_df['bba'] = new_team_df['er'].fillna(0)
new_team_df['soa'] = new_team_df['er'].fillna(0)
new_team_df['park'] = new_team_df['park'].fillna("None")
new_team_df['attendance'] = new_team_df['attendance'].fillna(0)


new_team_df.head()
#new_team_df.column()
print(len(new_team_df.columns))

#new_team_df.loc[new_team_df["ws_win"] == "Y"]

38

In [53]:
#premise_cols = ["year","league_id","team_id","franchise_id","rank","g","w","l","lg_win","ws_win","bba","soa","e","fp","name","park","attendance","bpf","ppf"]
#team_transformed= new_team_df[premise_cols].copy()
team_transformed = new_team_df.rename(columns={"year": "year_",
                                                "rank": "rank_",
                                                "g": "g_",
                                                "double": "double_",
                                               "name": "name_"
                                              })
team_transformed

,year_,league_id,team_id,franchise_id,rank_,g_,w,l,lg_win,ws_win,...,bba,soa,e,fp,name_,park,attendance,bpf,ppf,team_id_br
0,1871,0,BS1,BNA,3,31,20,10,N,N,...,109,109,225,0.830,Boston Red Stockings,South End Grounds I,0.0,103,98,BOS
1,1871,0,CH1,CNA,2,28,19,9,N,N,...,77,77,218,0.820,Chicago White Stockings,Union Base-Ball Grounds,0.0,104,102,CHI
2,1871,0,CL1,CFC,8,29,10,19,N,N,...,116,116,223,0.810,Cleveland Forest Citys,National Association Grounds,0.0,96,100,CLE
3,1871,0,FW1,KEK,7,19,7,12,N,N,...,97,97,163,0.800,Fort Wayne Kekiongas,Hamilton Field,0.0,101,107,KEK
4,1871,0,NY2,NNA,5,33,16,17,N,N,...,121,121,227,0.830,New York Mutuals,Union Grounds (Brooklyn),0.0,90,88,NYU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,2015,NL,LAN,LAD,1,162,92,70,N,N,...,553,553,75,0.988,Los Angeles Dodgers,Dodger Stadium,3764815.0,101,98,LAD
2801,2015,NL,SFN,SFG,2,162,84,78,N,N,...,597,597,78,0.987,San Francisco Giants,AT&T Park,3375882.0,99,97,SFG
2802,2015,NL,ARI,ARI,3,162,79,83,N,N,...,659,659,86,0.986,Arizona Diamondbacks,Chase Field,2080145.0,107,106,ARI
2803,2015,NL,SDN,SDP,4,162,74,88,N,N,...,655,655,92,0.985,San Diego Padres,Petco Park,2459742.0,98,97,SDP
2804,2015,NL,COL,COL,5,162,68,94,N,N,...,799,799,95,0.985,Colorado Rockies,Coors Field,2506789.0,119,118,COL

In [54]:
team_transformed.to_csv('clean_csv/clean_team.csv')

In [55]:
rds_connection_string = "postgres:<password>@localhost:5432/baseball"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [56]:
engine.table_names()

['player', 'pitching', 'batting', 'allstar', 'team']

In [57]:
team_transformed.to_sql(name='team', con=engine, if_exists='append', index=False)